<div id="clone_ticket_settings">
  <h3><%= content_tag(:label l(:clone_ticket_settings_main_title))%></h3>
  <div id="clone_ticket_settings_main_properties">

  </div>
  <h3><%= content_tag(:label l(:clone_ticket_settings_optional_title))%></h3>
  <div id="clone_ticket_settings_optional_properties">

  </div>
</div>
